{
    "name": "Omada Controller",
    "version": "5.8.0",
    "slug": "omada_controller",
    "description": "TP-Link Omada Controller software v5",
    "startup": "application",
    "arch": [ 
       "aarch64",
       "amd64"
    ],
    "webui": "[PROTO:ssl]://[HOST]:[PORT:8088]",
    "timeout": 120,
    "panel_title": "Omada Controller",
    "panel_icon": "mdi::rabbit",
    "ports": {
        "8043/tcp": 8043,
        "8843/tcp": 8843,
        "8088/tcp": 8088,
        "29810/udp": 29810,
        "29811/tcp": 29811,
        "29812/tcp": 29812,
        "29813/tcp": 29813,
        "29814/tcp": 29814
    },
    "ports_description": {
    "29810/tcp": "omada port",
    "29811/tcp": "omada port",
    "29812/tcp": "omada port",
    "29813/tcp": "omada port",
    "29814/tcp": "omada port",
    "8043/tcp": "web interface https",
    "8088/tcp": "web interface",
    "8843/tcp": "portal http"
    },
    "environment": {
        "MANAGE_HTTP_PORT": "8088",
        "MANAGE_HTTPS_PORT": "8043",
        "PORTAL_HTTP_PORT": "8088",
        "PORTAL_HTTPS_PORT": "8843",
        "SHOW_SERVER_LOGS": "true",
        "SHOW_MONGODB_LOGS": "false",
        "SMALL_FILES": "false",
        "SSL_CERT_NAME": "tls.crt",
        "SSL_KEY_NAME": "tls.key",
        "TZ": "Etc/UTC"
    },
    "map": [
      "config:rw",
      "ssl:ro"
    ],
    "services": [],
    "options": {
    },
    "schema": {
    }
}
